{{>home/header}}
{{>home/nav}}

<div class="container content">
  {{#if flash}}
    <div class="alert alert-dismissible alert-{{flash.type}}">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>{{flash.intro}}</strong> {{{flash.message}}}
    </div>
  {{/if}}
  <h1 class="text-center">Войти</h1>
  <div class="auth col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" style="margin-top: 10px;">
    <form class="form-horizontal" action="/admin/login" method="post">
      <input type="hidden" name="_csrf" value="{{_csrfToken}}">

      <div class="form-group{{#if repeatData.errEmail}} has-error{{/if}}">
        <label for="inputEmail3" class="col-sm-4 control-label">Почтовый ящик</label>
        <div class="col-sm-6 col-lg-5">
          <input type="email" name="user[email]" {{#if repeatData}}value="{{repeatData.email}}"{{/if}} class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group{{#if repeatData.errPass}} has-error{{/if}}">
        <label for="inputPassword3" class="col-sm-4 control-label">Пароль</label>
        <div class="col-sm-6 col-lg-5">
          <input type="password" name="user[pass]" {{#if repeatData}}value="{{repeatData.pass}}"{{/if}} class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
      <div class="form-group{{#if repeatData.errSum}} has-error{{/if}}">
        <label for="inputPassword3" class="col-sm-4 control-label">Сумма двух чисел</label>
        <div class="col-sm-3 col-lg-2">
          <input type="text" name="user[captcha]" class="form-control">
        </div>
        <p class="col-sm-4 sum">{{{total}}}</p>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-4 control-label"></label>
        <div class="col-sm-offset-4 col-sm-6">

          <input type="checkbox" name="user[remember]" value="1" checked> Запомнить
          <span style="margin-left: 15px; text-decoration: underline "><strong><a href="/admin/recovery">Забыли пароль?</a></strong></span>

        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8 col-xs-12">
          <button type="submit" class="btn btn-primary btn-margin">Перейти в личный кабинет</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/login" class="btn btn-warning btn-margins" role="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
        </div>
      </div>
    </form>
  </div>
</div>
{{>home/sidebar}}
{{>home/footer}}